################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WinformExperiment/bin
/WinformExperiment/obj
/Compendium/bin
/Compendium/obj
